* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

img {
  display: flex;
  margin: auto;
  width: 250px;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

input {
  width: 200px;
  height: 40px;
  border: 1px solid #a8a8b3;
  border-radius: 8px;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
}

.box {
  width: 550px;
  margin: 80px auto 0 auto;
}

.input-container {
  display: flex;
  gap: 15px;
}

.botao-guardar {
  width: 100%;
  height: 40px;
  background: #5ea7ac;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: 26px;
  border: none;
}

.botao-guardar i {
  margin-right: 10px;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #5ea7ac;
  margin-top: 34px;
}

h2 {
  color: #e73f5d;
  margin-top: 26px;
}

.carro-container {
  width: 550px;
  margin: auto;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 20px;
  overflow: auto;
  height: 200px;
}

li {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.liberar-carro {
  font-weight: 700;
  color: #00891e;
  border: none;
  background: none;
  margin-left: 15px;
}
